<!-- <div style="
  border: 3px solid blue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
">
  <p>
    archetype-list works!
  </p>
-->
  <!-- eventually there will be lots of these -->
  <!-- <app-archetype-card></app-archetype-card> -->
<!--  <div>
    <ul>
      <li class="collection-item" *ngFor="let player of character">Name: {{ player.name }}
      ( {{ player.race }} - {{ player.sex }} ) </li>
    </ul>
  </div>
</div> -->

<div style="
  border: 3px solid blue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
">
  <app-archetype-card
    *ngFor="let person of swPeople"
     [archetype]="person"
     (archetypeChosen)="onArchetypeChosen($event)"
  ></app-archetype-card>

</div>
