<!--<html ng-app="AMail">-->
<html ng-app>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="controllers.js"></script>
</head>
<body>


<h1>Sign Up</h1>
	<form name='addUserForm' ng-controller="AddUserController"> 
		<div ng-show='message'>{{message}}</div>
		<div>First name:<input ng-model='user.first' required></div>
		<div>Last name:<input ng-model='user.last' required></div>
		<div>Email:<input type='email' ng-model='user.email' required></div>
		<div>Age:<input type='number'
						ng-model='user.age'
						ng-maxlength='3'
						ng-minlength='1'></div>
		<div><button ng-click='addUser()' ng-disabled='!addUserForm.$valid'>Submit</button></div>
	</form>

</body>
</html>

